# Worksheet 05 - XML

Your Name: Hyeong-gi Hong  
Your Class:   INST 447  
Your Section: 0101 (MWF) or 0102 (TTh)  
Your favorite color: Blue

Citations:
XML Data Sets: http://aiweb.cs.washington.edu/research/projects/xmltk/xmldata/www/repository.html

In [1]:
# standard includes
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

In [2]:
# import the lxml parser
from lxml import etree

Validation works the same with a DTD as it does with an XML Schema

In [3]:
dtd = etree.DTD('ebay.dtd')
ebay = etree.parse('ebay.xml')

### Q1 - Validate IT!

How do we tell if it is valid? (The dtd object works similar to the schema object...)

In [4]:
dtd.validate(ebay)

True

Well now we can look inside!

In [5]:
node_count = 0
for listing in ebay.findall('//listing'):
    print("<listing>")
    for child in listing.getchildren():
        print(" ", child.tag, child.attrib)
    print("</listing>")
    node_count += 1
print("\nNumber of nodes: {0}".format(node_count))

<listing>
  seller_info {}
  payment_types {}
  shipping_info {}
  buyer_protection_info {}
  auction_info {}
  bid_history {}
  item_info {}
</listing>
<listing>
  seller_info {}
  payment_types {}
  shipping_info {}
  buyer_protection_info {}
  auction_info {}
  bid_history {}
  item_info {}
</listing>
<listing>
  seller_info {}
  payment_types {}
  shipping_info {}
  buyer_protection_info {}
  auction_info {}
  bid_history {}
  item_info {}
</listing>
<listing>
  seller_info {}
  payment_types {}
  shipping_info {}
  buyer_protection_info {}
  auction_info {}
  bid_history {}
  item_info {}
</listing>
<listing>
  seller_info {}
  payment_types {}
  shipping_info {}
  buyer_protection_info {}
  auction_info {}
  bid_history {}
  item_info {}
</listing>

Number of nodes: 5

In [6]:
for i in ebay.findall('//listing'):
    print(i)

<Element listing at 0xc8a2b20>
<Element listing at 0xc8a2bc0>
<Element listing at 0xc8a2da0>
<Element listing at 0xc8a2c88>
<Element listing at 0xc8a2d78>

### Q2 - Make a DataFrame
That is pretty nice XML. Write a look at will create a DataFrame from that.

In [7]:
# Make a Data Frame from the listing 
def ebayParser(xml_obj):
    ebay_list = []
    for listing in xml_obj.findall('//listing'):
        listing_dict = {}
        for child in listing.getchildren():
            if not child.getchildren():
                listing_dict[child.tag] = child.text.strip()
            else:
                for subchild in child.getchildren():
                    if not subchild.getchildren():
                        listing_dict[subchild.tag] = subchild.text.strip()
                    else:
                        for subsubchild in subchild.getchildren():
                            if not subsubchild.getchildren():
                                listing_dict[subsubchild.tag] = subsubchild.text.strip()
        ebay_list.append(listing_dict)
    return pd.DataFrame(ebay_list)

In [8]:
ebayParser(ebay)

,bid_increment,bidder_name,bidder_rating,brand,buyer_protection_info,closed,cpu,current_bid,description,hard_drive,...,num_bids,num_items,opened,payment_types,quantity,seller_name,seller_rating,shipping_info,started_at,time_left
0,,gosha555@excite.com,-2,,,Dec-02-00 04:57:50 PST,Pentium III 933 System,$620.00,NEW Pentium III 933 System - 133 MHz BUS Speed...,30 GB 7200 RPM IDE Hard Drive,...,12,1,Nov-27-00 04:57:50 PST,"Visa/MasterCard, Money Order/Cashiers Checks, ...",1,cubsfantony,848,"Buyer pays fixed shipping charges, Will ship t...",$1.00,"4 days, 14 hours +"
1,,petitjc@yahoo.com,0,CyberTech,,Nov-29-00 20:54:15 PST,Intel Pentium III 800EB-MHz Coppermine CPU,$620.00,Intel Pentium III 800EB-MHz Coppermine CPU Ret...,30.7GB IBM Deskstar ATA100 7200RPM,...,19,1,Nov-26-00 20:54:15 PST,"Visa/MasterCard, Discover, Money Order/Cashier...",1,ct-inc,403,"Buyer pays actual shipping charges, Will ship ...",$0.01,"2 days, 6 hours +"
2,,hsclm9@peganet.com,0,CyberTech,,Nov-29-00 20:50:33 PST,Intel Pentium III 933EB-MHz Coppermine CPU,"$1,025.00",Intel Pentium III 933EB-MHz Coppermine CPU Ret...,45GB IBM Deskstar ATA100 7200RPM,...,29,1,Nov-26-00 20:50:33 PST,"Money Order/Cashiers Checks, Personal Checks, ...",1,ct-inc,403,"Buyer pays actual shipping charges, Will ship ...",$0.01,"2 days, 6 hours +"
3,,wizbang4,5,,,Nov-29-00 19:59:42 PST,Genuine Intel Pentium III 1000MHz Processor,$610.00,Genuine Intel Pentium III 1000MHz Processor\n\...,45GB ATA100 7200RPM Hard Drive,...,16,1,Nov-26-00 19:59:42 PST,"Visa/MasterCard, American Express, Money Order...",1,bestbuys4systems,28,"Buyer pays fixed shipping charges, Will ship t...",$100.00,"2 days, 5 hours +"
4,,chul2@mail.utexas.edu,0,,,Nov-29-00 19:56:06 PST,INTEL Pentium III 800MHz,$535.00,INTEL Pentium III 800EB-MHz CPU Processor Reta...,40GB HDD,...,13,1,Nov-26-00 19:56:06 PST,"Visa/MasterCard, Discover, Money Order/Cashier...",1,sales@ctgcom.com,219,"Buyer pays fixed shipping charges, Will ship t...",$0.01,"2 days, 5 hours +"

## Using Recursion to Parse

Did you use some for loops to create your DataFrame, above?  

You had to write some very specific code to do that. It is "closely coupled" to the format of the XML file. What if you could flatten an XML file in a more general way?

You can do that using recursion. The set of functions below walk the XML tree to flatten it using recursion.

In [9]:
# Adapted from: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

def parse_root(root):
    return [parse_element(child) for child in root.getchildren()]

def parse_element(element, parsed=None):
    if parsed is None:
        parsed = dict()
    for key in element.keys():
        parsed[key] = element.attrib.get(key)
    if element.text:
        parsed[element.tag] = element.text
    for child in element.getchildren():
        parse_element(child, parsed)
    return parsed

def process_data(root):
    structure_data = parse_root(root)
    return pd.DataFrame(structure_data)

In [10]:
process_data(ebay.getroot())

,auction_info,bid_history,bid_increment,bidder_name,bidder_rating,brand,buyer_protection_info,closed,cpu,current_bid,...,num_items,opened,payment_types,quantity,seller_info,seller_name,seller_rating,shipping_info,started_at,time_left
0,\n,\n,,gosha555@excite.com,-2,,\n,Dec-02-00 04:57:50 PST,Pentium III 933 System,$620.00,...,1,Nov-27-00 04:57:50 PST,"Visa/MasterCard, Money Order/Cashiers Checks, ...",1,\n,cubsfantony,848,"Buyer pays fixed shipping charges, Will ship t...",$1.00,"4 days, 14 hours +"
1,\n,\n,,petitjc@yahoo.com,0,CyberTech,\n,Nov-29-00 20:54:15 PST,Intel Pentium III 800EB-MHz Coppermine CPU,$620.00,...,1,Nov-26-00 20:54:15 PST,"Visa/MasterCard, Discover, Money Order/Cashier...",1,\n,ct-inc,403,"Buyer pays actual shipping charges, Will ship ...",$0.01,"2 days, 6 hours +"
2,\n,\n,,hsclm9@peganet.com,0,CyberTech,\n,Nov-29-00 20:50:33 PST,Intel Pentium III 933EB-MHz Coppermine CPU,"$1,025.00",...,1,Nov-26-00 20:50:33 PST,"Money Order/Cashiers Checks, Personal Checks, ...",1,\n,ct-inc,403,"Buyer pays actual shipping charges, Will ship ...",$0.01,"2 days, 6 hours +"
3,\n,\n,,wizbang4,5,,\n,Nov-29-00 19:59:42 PST,Genuine Intel Pentium III 1000MHz Processor,$610.00,...,1,Nov-26-00 19:59:42 PST,"Visa/MasterCard, American Express, Money Order...",1,\n,bestbuys4systems,28,"Buyer pays fixed shipping charges, Will ship t...",$100.00,"2 days, 5 hours +"
4,\n,\n,,chul2@mail.utexas.edu,0,,\n,Nov-29-00 19:56:06 PST,INTEL Pentium III 800MHz,$535.00,...,1,Nov-26-00 19:56:06 PST,"Visa/MasterCard, Discover, Money Order/Cashier...",1,\n,sales@ctgcom.com,219,"Buyer pays fixed shipping charges, Will ship t...",$0.01,"2 days, 5 hours +"

Isn't that really nice!

There has to be a catch because I've been making you loop through code to build DataFrames and didn't just give you that code. Also, there isn't a read_xml() function in Pandas, and if there would be a candidate, you'd think that would be it.

Yup, there is a catch. Look at these NSF XML files:

In [11]:
nsf_funding = etree.parse('NSFFundingRateHistory.xml')
nsf_budget = etree.parse('NSFBudgetHistory.xml')

In [12]:
funding_df = process_data(nsf_funding.getroot())
budget_df = process_data(nsf_budget.getroot())

In [13]:
funding_df.head()

,ABBR,ACTIONS,AWARDS,CODE,FILTER,FUNDING_RATES,FY2004,FY2005,FY2006,FY2007,...,FY2012,FY2013,FY2014,FY2015,NAME,ORGUNIT,ORG_CODE,RATE,TEXT,YEAR
0,BIO,1445,257,01,RESEARCH GRANTS,\n,\n,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,MCB,DIR,08000000,18%,DEFAULT CHART,2004
1,BIO,1749,230,01,RESEARCH GRANTS,\n,NaN,\n,NaN,NaN,...,NaN,NaN,NaN,NaN,MCB,DIR,08000000,13%,DEFAULT CHART,2005
2,BIO,1606,230,01,RESEARCH GRANTS,\n,NaN,NaN,\n,NaN,...,NaN,NaN,NaN,NaN,MCB,DIR,08000000,14%,DEFAULT CHART,2006
3,BIO,1698,235,01,RESEARCH GRANTS,\n,NaN,NaN,NaN,\n,...,NaN,NaN,NaN,NaN,MCB,DIR,08000000,14%,DEFAULT CHART,2007
4,BIO,1387,207,01,RESEARCH GRANTS,\n,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,MCB,DIR,08000000,15%,DEFAULT CHART,2008

In [14]:
budget_df.head()

,AOAM,ARI,ConstantDollars,CurrentDollars,EHR,FY1951,MREFC,NSB,NSFTotal,OIG,RRA
0,$0.98,$0.00,\n,\n,$0.00,\n,$0.00,$0.00,$1.18,$0.00,$0.20
1,$3.99,$0.00,,,$11.58,NaN,$0.00,$0.00,$26.13,$0.00,$10.55
2,$6.47,$0.00,,,$10.42,NaN,$0.00,$0.00,$32.70,$0.00,$15.81
3,$11.29,$0.00,,,$13.80,NaN,$0.00,$0.00,$58.08,$0.00,$33.00
4,$11.19,$0.00,,,$15.07,NaN,$0.00,$0.00,$90.44,$0.00,$64.18

Completely useless for analysis. There are missing colummns, rows are laid out as columns, basically it is a total mess.

So why?

You really have to look at the XML from that.

In [15]:
nsf_budget.getroot().tag

'NSFFundingMillions'

In [16]:
budget = []
for fiscal_year in nsf_budget.getroot().getchildren():
    row = {}
    tag = fiscal_year.tag[:2]
    val = fiscal_year.tag[2:6]
    row[tag] = val
    for dollars in fiscal_year.getchildren():
        #print(dollars.tag, dollars.attrib, dollars.text)
        key_label = dollars.tag
        for child in dollars.getchildren():
            #print(child.tag, child.attrib, child.text)
            row[key_label + '_' + child.tag] = child.text
    budget.append(row)

# pd.DataFrame(budget)['FY'].max()
pd.DataFrame(budget).head()

,ConstantDollars_AOAM,ConstantDollars_ARI,ConstantDollars_EHR,ConstantDollars_MREFC,ConstantDollars_NSB,ConstantDollars_NSFTotal,ConstantDollars_OIG,ConstantDollars_RRA,CurrentDollars_AOAM,CurrentDollars_ARI,CurrentDollars_EHR,CurrentDollars_MREFC,CurrentDollars_NSB,CurrentDollars_NSFTotal,CurrentDollars_OIG,CurrentDollars_RRA,FY
0,$0.98,$0.00,$0.00,$0.00,$0.00,$1.18,$0.00,$0.20,$0.13,$0.00,$0.00,$0.00,$0.00,$0.15,$0.00,$0.03,1951
1,$3.99,$0.00,$11.58,$0.00,$0.00,$26.13,$0.00,$10.55,$0.53,$0.00,$1.54,$0.00,$0.00,$3.47,$0.00,$1.40,1952
2,$6.47,$0.00,$10.42,$0.00,$0.00,$32.70,$0.00,$15.81,$0.88,$0.00,$1.41,$0.00,$0.00,$4.43,$0.00,$2.14,1953
3,$11.29,$0.00,$13.80,$0.00,$0.00,$58.08,$0.00,$33.00,$1.55,$0.00,$1.89,$0.00,$0.00,$7.96,$0.00,$4.52,1954
4,$11.19,$0.00,$15.07,$0.00,$0.00,$90.44,$0.00,$64.18,$1.55,$0.00,$2.08,$0.00,$0.00,$12.49,$0.00,$8.86,1955

## Q3 - Make a DataFrame from the NSF Funding Rate History

Write the code to parse that XML into a DataFrame

In [17]:
fund = []
for fiscal_year in nsf_funding.getroot().getchildren():
    row = {}
    tag = fiscal_year.tag[:2]
    val = fiscal_year.tag[2:6]
    row[tag] = val
    for rate in fiscal_year.getchildren():
        for dollars in rate.getchildren():
            if dollars.tag == "IDENTIFICATION" or dollars.tag == "TITLE" or dollars.tag == "TYPE":
                continue;

            key_label = dollars.attrib['NAME']
            row[key_label + "_" + "ACTIONS"] = dollars.attrib['ACTIONS'];
            row[key_label + "_" + "AWARDS"] = dollars.attrib['AWARDS'];

    fund.append(row)

pd.DataFrame(fund).head()

,ACI_ACTIONS,ACI_AWARDS,AGS_ACTIONS,AGS_AWARDS,AST_ACTIONS,AST_AWARDS,BCS_ACTIONS,BCS_AWARDS,BIO_ACTIONS,BIO_AWARDS,...,PLR_ACTIONS,PLR_AWARDS,REC_ACTIONS,REC_AWARDS,SBE_ACTIONS,SBE_AWARDS,SES_ACTIONS,SES_AWARDS,SMA_ACTIONS,SMA_AWARDS
0,198,27,587,295,506,149,1624,264,4824,925,...,627,214,NaN,NaN,3557,591,1926,324,NaN,NaN
1,74,33,740,259,579,156,1415,281,5323,921,...,759,231,NaN,NaN,3028,644,1606,358,NaN,NaN
2,122,34,805,285,663,158,1311,276,5566,801,...,727,196,NaN,NaN,3030,677,1704,399,NaN,NaN
3,283,53,635,251,670,172,1574,329,5849,970,...,1147,326,4,2,3058,658,1480,326,NaN,NaN
4,484,82,672,241,686,154,1629,329,5473,898,...,826,202,NaN,NaN,3177,656,1544,324,1,1